workflows/RAG_AI_Agent.json
{
  "name": "RAG AI Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -80
      ],
      "id": "cb5b8412-a57a-4a9e-baae-a3112d6ff22d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Btgdf23syW2XOY4IippZ3Lv5lK5K63wn",
          "mode": "list",
          "cachedResultName": "MartesAIInfo.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Btgdf23syW2XOY4IippZ3Lv5lK5K63wn/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -80
      ],
      "id": "93b3f85f-fac8-4f02-aec2-7c901b0bc4fa",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HMXsKUmHfk1hWnY7",
          "name": "Riccardo Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        -80
      ],
      "id": "60897920-02ef-4a4b-b9a8-25bb3580b8c0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AfklPVIWYXDM1yBn",
          "name": "Pinecone Riccardo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        128
      ],
      "id": "1ace54af-800d-48fe-89f0-43101217b958",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1ErSMCYVOL5AMSJ7",
          "name": "Martes' OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        128
      ],
      "id": "783a535b-168d-480a-aead-694b531f5de9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        720,
        -96
      ],
      "id": "03876ff7-bc38-472e-af14-70490a87f996",
      "name": "When chat message received",
      "webhookId": "a03a5f52-e3e9-4aa2-a109-f2cfe28f573d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un agente che risponde alle domande dell'utente in maniera professionale riguardo **Martes AI**.  \nInput: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        928,
        -96
      ],
      "id": "81f021c8-09d9-41b1-bc69-013b2e29d49d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        144
      ],
      "id": "b4c17f29-61e1-453b-89a4-11988360e682",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1ErSMCYVOL5AMSJ7",
          "name": "Martes' OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        928,
        80
      ],
      "id": "be4f0353-347e-4fce-ac60-4c620b809e88",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Recupera le informazioni riguardanti le domande che fa l'utente. ",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1056,
        144
      ],
      "id": "eab09de4-8dc7-45f1-b89c-c77f8241d761",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "AfklPVIWYXDM1yBn",
          "name": "Pinecone Riccardo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        320
      ],
      "id": "0b5655cb-117e-4270-9239-ebd2b82e7192",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "1ErSMCYVOL5AMSJ7",
          "name": "Martes' OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12829037-d99a-45b2-b274-33ecc91a3390",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bdc5e10adda5aca85bc2ff837f8b3954c5698484b6d2c434936fa5b9c053f2b"
  },
  "id": "Kd6ioc1MkcIUx6KG",
  "tags": []
}